@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');

// vars 
:root {
    --main-font: 'Gotham', sans-serif;
    --titles-font: 'myriad-pro', sans-serif;

    --main-color: #892C3B;
    --shadow-color: #6A202C;
    --secondary-color: #772432;
    --main-contrast: white;
}
