body.edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;
        textarea {
            flex-grow: 1;
            resize: none;
            border: 4px solid #ddd;
            border-radius: 8px;
            box-shadow: inset 0 0 3px 2px #999d;
            &:focus {
                outline: none;
                border: 4px solid #ccc;
                box-shadow: inset 0 0 4px 3px #999d, 0 0 2px 1px #cccd;

            }
        }
    }
}