@import url("https://fonts.cdnfonts.com/css/gotham");
@import url("https://fonts.cdnfonts.com/css/myriad-pro");

// vars
:root {
  --main-font: "Gotham", sans-serif;
  --titles-font: "myriad-pro", sans-serif;

  --main-color: #892c3b;
  --shadow-color: #6a202c;
  --secondary-color: #772432;
  --main-contrast: white;
}
