* {
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

h1 {
  font-family: var(--titles-font);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 3px 2px #999d;
  color: white;
  margin-bottom: 3rem;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--main-color) 0%,
    var(--shadow-color) 100%
  );
  font-variant: small-caps;
  font-weight: 200;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  small {
    font-variant: normal;
    font-style: oblique;
    opacity: 0.5;
  }
}

h2,
h3 {
  color: var(--main-color);
}

section {
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
