body.edit {
    display: flex;
    flex-direction: column;
    height: 100%;

    section {
        width: 100%;
    }

    #edit {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;

        div.textarea-wrapper {
            position: relative;
            flex-grow: 1;

            div.textarea-background {
                position: absolute;
                top: 16px;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(0deg, #892C3B33 0%, #892C3B33 5%, #fff0 5%, #fff0 100%),
                    linear-gradient(90deg, #372c8933 0%, #372c8933 2px, transparent 2px, transparent 100%);
                background-size: 100% 1.5rem, 2px 100%;
                background-repeat: repeat-y, no-repeat;
                background-position: 0 0, 20px 0;
                /* Position the vertical line 10px from the left */
                z-index: -1;
            }

            textarea {
                padding: 1rem 2rem;
                height: 100%;
                resize: none;
                border: none;
                background: none;
                line-height: 1.5rem;
                font-size: 1.2rem;
                font-family: serif;

                &:focus {
                    outline: none;
                }
            }

            textarea:focus+div.textarea-background {
                background-image: linear-gradient(0deg, #892C3B55 0%, #892C3B55 5%, #fff0 5%, #fff0 100%),
                    linear-gradient(90deg, #372c8999 0%, #372c8999 2px, transparent 2px, transparent 100%);
                ;
            }
        }

    }
}